@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Add New Movie to the Collection";
}
@model MovieCollection_413_1_ZachDaniels.Models.AddMovie

<form method="post" asp-action="AddMovie">

    <div>
        <label asp-for="Category">Category:</label>
        <select asp-for="Category">
            <option value="">Select One</option>
            <option value="Action/Adventure">
                Action/Adventure
            </option>
            <option value="Comedy">Comedy</option>
            <option value="Drama">Drama</option>
            <option value="Family">Family</option>
            <option value="Horror/Suspense">Horror/Suspense</option>
            <option value="Miscellaneous">Miscellaneous</option>
            <option value="Television">Television</option>
            <option value="VHS">VHS</option>
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Director">Director:</label>
        <input asp-for="Director" />
        <span asp-validation-for="Director" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating">
            <option value="">Select One</option>
            <option value="true">G</option>
            <option value="false">PG</option>
            <option value="true">PG-13</option>
            <option value="true">R</option>
        </select>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Edited">Edited?</label>
        <select asp-for="Edited">
            <option value="">Select One</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <span asp-validation-for="Edited" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="LentTo">LentTo:</label>
        <input asp-for="LentTo" />
        <span asp-validation-for="LentTo" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Notes">Notes:</label>
        <input input-type="text" asp-for="Notes" maxlength="25" />
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>
    <button type="submit">Submit your application</button>
</form>