@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <div class="container">
        <h1 class="display-4">@ViewBag.Title</h1>
        <p>Welcome to the authoritative and completely sanctioned Joel Hilton Film Collection website.</p>
    </div>
    <div>
        <img src="~/JoelHilton.jpg" class="rounded-circle" />
        <br />
        <h2>Click <a asp-action="AddMovie">here</a> to add a new movie to the collection.</h2>
    </div>
</div>
